@import url(fonts.css);
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto";
  font-weight: 500;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 16px;
}

ul {
  list-style: none;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #F3F3F4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  transition: all 0.2s;
}

.arrow__right {
  right: 0;
  top: 148px;
  transform: translate(41%, -50%);
}

.arrow__left {
  top: 148px;
  transform: translateY(-50%);
  left: -20px;
}

.arrow:hover {
  background-color: #3077C6;
  cursor: pointer;
}

.arrow:hover span {
  color: #fff;
  transition: all 0.2s;
}

.main {
  padding: 50px 0px 120px;
  background: url(../img/main-bg.png) center center/cover no-repeat;
  min-height: 100vh;
}

.main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .header-logo a {
  font-family: 'Baloo 2', cursive;
  font-weight: 700;
  color: #3077C6;
  font-size: 48px;
  letter-spacing: -1px;
}

.main .header-logo a:hover {
  transition: ease-in-out 0.2s;
  text-shadow: 0px 0px 6px rgba(236, 52, 52, 0.9);
}

.main .header-links {
  margin-left: auto;
  font-size: 24px;
}

.main .header-links a {
  color: #fff;
  line-height: 28px;
  margin-right: 24px;
  display: inline-block;
}

.main .header-links a:last-child {
  margin-right: 48px;
}

.main .header-links a:after {
  content: "";
  height: 3px;
  background-color: #f5bd41;
  display: block;
  width: 92%;
  transform: translateY(12px) scale(0);
  margin: 0 auto;
}

.main .header-links a:hover::after {
  transition: all 0.3s;
  transform: translateY(12px) scale(1);
}

.main .header-icons {
  display: flex;
  align-items: center;
}

.main .header-icons img:first-child {
  margin-right: 24px;
}

.main-title {
  font-size: 50px;
  font-weight: 500;
  text-align-last: left;
  color: #fff;
  margin-top: 180px;
  line-height: 59px;
  margin-bottom: 145px;
}

.main label {
  position: absolute;
  color: #fff;
  top: -45px;
  left: 15px;
}

.main label + label {
  left: 40%;
}

.main label:hover {
  cursor: pointer;
}

.main-form {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 24px;
  display: flex;
  position: relative;
}

.main-form #city {
  flex: 0 0 40%;
}

.main-form #date {
  border: 3px solid #f5bd41;
  flex: 0 0 20%;
}

.main-form #choice {
  flex: 0 0 25%;
}

.main-form input {
  padding: 16px 24px;
  border-radius: 8px;
  font-size: 18px;
  border: 3px solid transparent;
  outline: none;
  width: 100%;
}

.main-form .button {
  flex: 0 0 16%;
  font-size: 24px;
  border-radius: 8px;
  background-color: #3077C6;
  color: #fff;
  border: 3px solid transparent;
}

.main-form .button:hover {
  cursor: pointer;
}

.main-download {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.main-download a {
  margin-right: 16px;
}

.advantages {
  padding: 120px 0;
}

.advantages-icon {
  text-align: center;
  fill: #3077C6;
  width: 100px;
  height: 100px;
}

.advantages-title:after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  background: #f5bd41;
}

.advantages-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}

.advantages-item {
  text-align: center;
}

.advantages-item img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.advantages-item__subtitle {
  font-family: "Roboto";
  font-size: 24px;
  text-align: center;
  margin-top: 45px;
}

.favorite {
  background-color: #EAF0F9;
  padding: 120px 0;
}

.favorite-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 104px;
}

.favorite-item__img {
  max-height: 296px;
  overflow: hidden;
}

.favorite-item img {
  width: 100%;
  height: 100%;
  display: block;
}

.favorite-item:hover {
  cursor: pointer;
}

.favorite-item__title {
  color: #3077C6;
  font-size: 24px;
  line-height: 28px;
  margin-top: 24px;
}

.favorite-item__descr {
  margin-top: 24px;
  font-size: 24px;
  line-height: 28px;
  color: #BFBFBF;
  max-width: 300px;
}

.destinations {
  padding: 120px 0;
  text-decoration: none;
}

.destinations .tabs__item-active {
  background-color: #3077C6;
  color: #fff;
  border-radius: 5px;
}

.destinations a {
  text-decoration: none;
  color: #000;
}

.destinations .tabs {
  background-color: #F3F3F4;
  display: inline-block;
  border-radius: 5px;
  margin-top: 104px;
}

.destinations .tabs__items {
  display: flex;
  list-style-type: none;
}

.destinations .tabs__item {
  font-size: 24px;
  padding: 15px 53px;
  font-weight: 400;
}

.destinations .tabs__item:last-child {
  padding: 15px 25px;
}

.destinations .tabs__item:hover {
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  background-color: #3077C6;
}

.destinations .tabs__content {
  display: none;
}

.destinations .tabs__content-active {
  display: flex;
  justify-content: space-between;
}

.destinations-wrapper {
  margin-top: 65px;
}

.destinations-wrapper .item {
  margin-right: 10px;
  flex: 0 1 25%;
}

.destinations-wrapper .item:last-child {
  margin-right: 0;
}

.destinations-wrapper .item-img {
  position: relative;
  overflow: hidden;
}

.destinations-wrapper .item-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.destinations-wrapper .item-img span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 13px 24px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0;
  font-size: 18px;
  color: #3077C6;
  font-weight: 400;
  border: 1px solid #3077C6;
}

.destinations-wrapper .item:hover {
  cursor: pointer;
}

.destinations-wrapper .item:hover span {
  opacity: 1;
  transition: all 0.5s;
}

.destinations-wrapper .item:hover img {
  filter: brightness(65%);
  transition: all 0.5s;
  transform: scale(1.1);
}

.destinations-wrapper .descr {
  margin-top: 25px;
  font-size: 24px;
  color: #3077C6;
  padding: 0 5px;
}

.reviews {
  padding: 120px 0;
}

.reviews-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 105px;
  position: relative;
}

.reviews-wrapper .arrow__right {
  top: 200px;
  transform: translate(40%, -50%);
}

.reviews-wrapper .wrapper {
  padding: 24px;
}

.reviews-box {
  background-color: #EAF0F9;
  max-width: 400px;
}

.reviews-box__background {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.reviews-box__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-box__background span {
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background: rgba(56, 56, 56, 0.7);
  padding: 12px 0 12px 24px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.reviews-box__rating span {
  display: block;
  color: #3077C6;
  font-size: 18px;
  line-height: 21px;
}

.reviews-box__rating .locate {
  display: flex;
  justify-content: space-between;
}

.reviews-box__rating .locate-box {
  width: 48px;
  height: 32px;
  background-color: #10367C;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-box__rating .locate-name {
  font-weight: 500;
}

.reviews-box__rating .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.reviews-box__rating .rating-reviews {
  font-size: 14px;
  line-height: 16px;
  color: #BFBFBF;
}

.reviews-box__comment {
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
}

.reviews-box__comment .author__avatar {
  fill: #BFBFBF;
  width: 54px;
  height: 54px;
}

.reviews-box__comment .author {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 18px;
}

.reviews-box__comment .author-nation {
  color: #BFBFBF;
}

.reviews-box__comment p {
  font-size: 18px;
  margin-top: 15px;
}

footer {
  color: #fff;
  font-family: "Roboto";
  padding: 120px 0;
  background: #10367C;
}

footer h4 {
  display: none;
}

footer p {
  font-size: 14px;
  margin-top: 64px;
}

footer .footer-box {
  width: 32.5%;
}

footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
}

footer .footer-wrapper .footer-links {
  list-style: none;
}

footer .footer-wrapper .footer-links li {
  margin-top: 23px;
  font-size: 20px;
}

footer .footer-wrapper .footer-links li:first-child a {
  font-weight: 500;
  margin-top: 0;
}

footer .footer-wrapper .footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
}

footer .footer-wrapper .footer-links a:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transform: scale(0);
}

footer .footer-wrapper .footer-links a:hover::after {
  transition: all 0.2s;
  transform: scale(1);
}

@media (max-width: 1264px) {
  h2 {
    font-size: calc( (100vw - 360px)/(1264 - 360) * (40 - 28) + 28px);
  }
  .main-title {
    font-size: calc( (100vw - 360px)/(1264 - 360) * (50 - 30) + 30px);
  }
  .advantages {
    padding-top: calc(24px + (120 - 24) * ((100vw - 360px  ) / (1264 - 360)));
    padding-bottom: calc(40px + (120 - 40) * ((100vw - 360px  ) / (1264 - 360)));
  }
  .advantages-wrapper {
    margin-top: calc(32px + (80 - 32) * ((100vw - 360px  ) / (1264 - 360)));
  }
  .advantages-item__subtitle {
    font-size: calc(15px + (24 - 15) * ((100vw - 360px  ) / (1264 - 360)));
    margin-top: calc(16px + (45 - 16) * ((100vw - 360px  ) / (1264 - 360)));
  }
  footer {
    padding-top: calc(40px + (120 - 40) * ((100vw - 360px  ) / (1264 - 360)));
    padding-bottom: calc(40px + (120 - 40) * ((100vw - 360px  ) / (1264 - 360)));
  }
  footer .footer-links a {
    font-size: calc( (100vw - 360px)/(1264 - 360) * (20 - 15) + 15px) !important;
  }
}

@media (max-width: 991px) {
  .advantages-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .advantages-wrapper .advantages-item {
    flex-basis: 35%;
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .main-title {
    margin-top: 80px;
  }
  .main .header {
    flex-direction: column;
  }
  .main .header-links {
    margin: auto;
  }
  .main .header-links a:last-child {
    margin-right: 0;
  }
  .main .header-icons {
    display: none;
  }
  .main label {
    display: none;
  }
  .main form {
    display: none;
  }
  .advantages-title {
    line-height: 33px;
  }
  .advantages-title:after {
    display: none;
  }
  .advantages-wrapper {
    flex-direction: column;
  }
  .advantages-item {
    margin-top: 32px;
  }
  .advantages-item:first-child {
    margin-top: 0;
  }
  .advantages-item img {
    width: 70px;
    height: 70px;
  }
  .advantages-item__subtitle {
    font-size: 15px;
    margin-top: 16px;
  }
  .advantages-icon {
    width: 70px;
    height: 70px;
  }
  footer .container {
    max-width: 225px;
    padding: 0;
  }
  footer h4 {
    display: block;
    text-align: center;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    font-size: 22px;
  }
  footer p {
    font-size: 12px;
    margin-top: 29px;
  }
  footer .footer-box {
    width: auto;
    margin-top: 27px;
  }
  footer .footer-wrapper .footer-links li:first-child a {
    text-decoration: underline;
    font-size: 15px;
  }
  footer .footer-wrapper .footer-links li:not(:first-child) {
    display: none;
  }
  footer .footer-wrapper .footer-links a:after {
    display: none;
  }
}
