@import url(fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;700;800&display=swap');
@import "variables";

// General style start
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: "Roboto";
}


a {
	text-decoration: none; 
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto";
  font-weight: 500;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 16px;
}
ul {
	list-style: none;
}

.arrow {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background:#F3F3F4;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-size: 20px;
	transition: all 0.2s ;

	&__right {		
		right: 0;
		top: 148px;
		transform: translate(41%, -50%);
	}

	&__left {
		top: 148px;
		transform: translateY(-50%);
		left: -20px;
	}		

	&:hover {
		background-color: $maincolor;
		cursor: pointer;				
	}

	&:hover span {
		color: #fff;
		transition: all 0.2s ;
	}
}

.slick-arrow {
	font-size: 0;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 100%;
	position: absolute;
	background: url(../img/icons/arrowNext.svg) center  (center/auto) no-repeat;
	background-color: #F3F3F4;
	right: -10px;
	top: 30%;
	transition: ease-in 0.2s;
	&:hover {
		cursor: pointer;
		background: url(../img/icons/arrowNextHover.svg) center  (center/auto) no-repeat;
		background-color: lighten(#3077C6, 20%) ;
		transition: ease-in 0.2s;
	}
}	

.slick-prev {
	display: none !important ;
	}	


 // General style end 

// Main start
.main {
	padding: 50px 0px 120px;
	background: url(../img/main-bg.png) center  (center/cover) no-repeat;
	min-height: 100vh;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-logo {

			a {
				font-family: 'Baloo 2', cursive;
				font-weight: 700;
				color: $maincolor;
				font-size: 48px;
				letter-spacing: -1px ;

					&:hover {
					transition: ease-in-out 0.2s;
					text-shadow: 0px 0px 6px rgba(236, 52, 52, 0.9);
					
				}
			}			
		}
		&-links {
			margin-left: auto;
			font-size: 24px;

			a {
					color: #fff;
					line-height: 28px;
					margin-right: 24px;
					display: inline-block;
					position: relative;

					&:last-child {
						margin-right: 48px;
					}

					&:after {
						content: "";
						height: 3px;
						background-color: $border;
						display: block;
						width: 92%;
						transform:  translateY(12px) scale(0) ;				
						margin: 0 auto;	
					}

						&:hover::after {
						transition: all 0.3s;
						transform: translateY(12px) scale(1);
					}		
			}		
		}
		&-icons {
			display: flex;
			align-items: center;

			img:first-child {
				margin-right: 24px;
			}
		}

	}
	&-title {
		font-size: 50px;
		font-weight: 500;
		text-align-last: left;
		color: #fff;
		margin-top: 180px;
		line-height: 59px;
		margin-bottom: 145px;
	}
	
	label {
	position: absolute;
	color: #fff;
	top: -45px;
	left: 15px;
	&+label {
		left: 40%;
	}

	&:hover {
		cursor: pointer;
	}
}
	&-form {
		background-color: #fff;
		border-radius: 8px;
		margin-top: 24px;
		display: flex;	
		position: relative;

		#city {
				// flex-basis: 40%;
				flex: 0 0 40%;
				// flex-grow: 2;
			}	

		#date {
				// flex-basis: 20%;
				border:3px solid $border;
				// flex: 1 1 20%;	
				flex: 0 0 20%;
			}

		#choice {
				// flex-basis: 25%;
				// flex: 1 1 20%;
				flex: 0 0 25%;
			} 

		input {
			padding: 16px 24px;
			border-radius: 8px;
			font-size: 18px;
			border:3px solid transparent;
			outline:none;	
			width: 100%;
		
		}
		.button {
			flex: 0 0 16%;
			font-size: 24px;
			// padding: 14px 57px;
			// flex-basis: 20%;
			border-radius: 8px;
			background-color: $maincolor;
			color: #fff;
			border:3px solid transparent;
			&:hover {
				cursor: pointer;
			}
		}
	}
	&-download {
		margin-top: 120px;
		display: flex;
		justify-content: center;
		a {
			margin-right: 16px;
		}
	}
}
// Main end

// Advatages start
.advantages {
	padding: 120px 0;
  
	&-icon {
		text-align: center;
		fill: $maincolor;
		width: 100px;
		height: 100px;
	}
}

.advantages-title:after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  background: $border;
}

.advantages-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}

.advantages-item {  
	text-align: center;

  img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}

.advantages-item__subtitle {
  font-family: "Roboto";
  font-size: 24px;
  text-align: center;
  margin-top: 45px;
}
// Advantages end

// Favorite start
.favorite {
	background-color: #EAF0F9;
	padding: 120px 0;

	&-wrapper {
		margin-top: 104px;
	}

	&-item {
		max-width: 98%;
		max-height: 301px;

		&__img {
		overflow: hidden;
		position: relative;
		padding: 0px 0px 100% 0px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			}
		}

		&__title {
			color: $maincolor;	
			font-size: 24px;
			margin-top: 24px;
		}
		
		&__descr {
			margin-top: 24px;
			font-size: 24px;
			color: $sectext;
			max-width: 300px;
		}
	}
}
// Favorite end
// Destinations start
.destinations {
	padding: 120px 0;
	.tabs__item-active {
	background-color: #3077C6;
	color: #fff;
	border-radius: 5px;
	}
	a {
		text-decoration: none;
		color: #000;
		}

	.tabs {
		background-color: #F3F3F4;		
		// text-align: center;
		display: inline-block;
		border-radius: 5px;
		margin-top: 104px;

		&__items {
			display: flex;
			list-style-type: none;
		}

		&__item {
			// display: inline-block;
			font-size: 24px;
			padding: 15px 53px; 
			font-weight: 400;

			&:last-child {
				padding: 15px 25px;
			}
			
			&:hover {
				cursor: pointer;
				color: #fff;
				border-radius: 5px;								
				background-color: #3077C6 ;
			}
		}		
	}
	text-decoration: none;

	.tabs__content {
		display: none;

		&-active {
			display: flex;
			justify-content: space-between;
		}		
	}
	&-wrapper {
		margin-top: 65px;

		.item {
			margin-right: 10px;
			flex:0 1 25%;

			&:last-child {
				margin-right: 0;
			}

			&-img{
				position: relative;
				overflow: hidden;
				// height: 295px;

				img {
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
				}
				
				span {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					padding: 13px 24px;
					background-color: #fff;
					border-radius: 10px;
					opacity: 0;
					font-size: 18px;
					color: $maincolor;
					font-weight: 400;
					border:1px solid $maincolor;
				}				
			}

			&:hover {
				cursor: pointer;
			}

			&:hover span {
				opacity: 1;
				transition: all 0.5s;
			}

			&:hover img {
					filter: brightness(65%);
					transition: all 0.5s;
					transform: scale(1.1);
				}	
		}

		.descr {
			margin-top: 25px;
			font-size: 24px;
			color: $maincolor;
			padding: 0 5px;
		}
			
		// &:target {
		// 	display: flex;
		// }
	}
}
// Destinations End

// Reviews start
.reviews {
	padding: 120px 0;

	&-wrapper {
		display: flex;
		justify-content: space-between;	
		margin-top: 105px;
		position: relative;

		.arrow {	

			&__right {		
				top: 200px;
				transform: translate(40%, -50%);
			}
	}

		.wrapper {
			padding: 24px;
		}
	}

	&-box {		
		background-color: #EAF0F9;
		max-width: 400px;

		&__background {
			height: 400px;
			position: relative;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			span  {
				display: block;
				font-size: 18px;
				line-height: 21px;
				color: #fff;
				background: rgba(56, 56, 56, 0.7);
				padding: 12px 0 12px 24px; 
				position: absolute;
				width: 100%;
				bottom: 0;
			}
		}
		&__rating {

			span {
				display: block;
				color: $maincolor;
				font-size: 18px;
				line-height: 21px;
			}

			.locate {
				display: flex;
				justify-content: space-between;
			
				&-box {
					width: 48px;
					height: 32px;
					background-color: $bgc;
					border-radius: 8px;
					font-size: 18px;
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;			

				}
				&-name {
					font-weight: 500;					
				}
			}
			.rating {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 8px;

				&-reviews {
					font-size: 14px;
					line-height: 16px;	
					color: $sectext;
				}

			}
		}
		&__comment {
			display: flex;
			margin-top: 24px;
			flex-wrap: wrap;
			
			.author__avatar {
				fill: $sectext;
				width: 54px;
				height: 54px;
			}

			.author {
				margin-left: 16px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-around;
				font-size: 18px;

				&-nation {
					color: $sectext;
				}
			}
			p {
				font-size: 18px;
				margin-top: 15px;
			}
		}
	}
}

// Reviews end

// Footer start
footer {
  color: #fff;
  font-family: "Roboto";
  padding: 120px 0;
  background: $bgc;

	h4 {
		display: none;
	}

  p {
    font-size: 14px;
    margin-top: 64px;
  }

	.footer-box {
		width: 32.5%; 
	}

  .footer-wrapper {
    display: flex;
    justify-content: space-between;

    .footer-links {
			list-style: none;

			li {
				margin-top: 23px;
				font-size: 20px;
			}

			li:first-child a{				
				font-weight: 500;
				margin-top: 0;
			}  

      a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
				display: inline-block;

				&:after {
					content: '';
					display: block;
					height: 1px;
					width: 100%;
					background-color: #fff;
					transform: scale(0);				
				}		

				&:hover::after {
					transition: all 0.2s;
					transform: scale(1);
				}					
      }
    }
  }
}
@import "media";