@import url(fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: "Roboto";
}

a {
	text-decoration: none;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 16px;
}
.main {
	padding: 50px 0 120px;
	background: url(../img/main-bg.png) center  (center/cover) no-repeat;
	min-height: 100vh;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-logo {

			a {
				font-family: 'Baloo 2', cursive;
				font-weight: 700;
				color:#3077C6;
				font-size: 48px;
				letter-spacing: -1px ;	

					&:hover {
					transition: ease-in-out 0.2s;
					text-shadow: 0 0 6px rgba(236, 52, 52, 0.9);					
				}
			}			
		}
		&-links {
			margin-left: auto;
			font-size: 24px;

			a {
					color: #fff;
					line-height: 28px;
					margin-right: 24px;
					display: inline-block;

					&:last-child {
						margin-right: 48px;
					}

					&:after {
						content: "";
						height: 3px;
						background-color: #F5BD41;
						display: block;
						width: 95%;
						transform:  translateY(12px) scale(0) ;				
						margin: 0 auto;				
					}

						&:hover::after {
						transition: all 0.3s;
						transform: translateY(12px) scale(1);
					}		
			}		
		}
		&-icons {
			display: flex;
			align-items: center;
			
			img:first-child {
				margin-right: 24px;
			}
		}

	}
	&-title {
		font-size: 50px;
		font-weight: 500;
		text-align-last: left;
		color: #fff;
		margin-top: 180px;
		line-height: 59px;
		margin-bottom: 145px;
	}

	label {
		position: absolute;
		color: #fff;
		top: -45px;
		left: 15px;
		&+label {
			left: 40%;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&-form {
		background-color: #fff;
		border-radius: 8px;
		margin-top: 24px;
		display: flex;	
		position: relative;

		#city {
				flex-basis: 40%;
			}	

		#date {
				flex-basis: 20%;
				border:3px solid #F5BD41;	
			}

		#choice {
				flex-basis: 25%;
			}

		input {
			padding: 16px 24px;
			border-radius: 8px;
			font-size: 18px;
			border:3px solid transparent;
			outline:none;		
			
		}
		.button {
			font-size: 24px;
			padding: 14px 57px;
			border-radius: 8px;
			background-color: #3077C6;
			color: #fff;
			border:3px solid transparent;

			&:hover {
				cursor: pointer;
			}
		}
	}
	&-download {
		margin-top: 120px;
		display: flex;
		justify-content: center;

		a {
			margin-right: 16px;
		}
	}
}
.advantages {
  padding: 120px 0;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto";
  font-weight: 500;
}

.advantages-title:after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  background: #f5bd41;
}

.advantages-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}

.advantages-item {  

  img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}

.advantages-item__subtitle {
  font-family: "Roboto";
  font-size: 24px;
  text-align: center;
  margin-top: 45px;
}
footer {
  color: #fff;
  font-family: "Roboto";
  padding: 120px 0;
  background: #10367c;

	h4 {
		display: none;
	}

  p {
    font-size: 14px;
    margin-top: 64px;
  }

	.footer-box {
		width: 395px; 
	}

  .footer-wrapper {
    display: flex;
    justify-content: space-between;

    .footer-links {
			list-style: none;
			
			li {
				margin-top: 23px;
			}

			li:first-child{
				font-size: 20px;
				font-weight: 500;
				margin-top: 0;
			}  

      a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
				display: inline-block;

				&:after {
					content: '';
					display: block;
					height: 1px;
					width: 100%;
					background-color: #fff;
					transform: scale(0);				
				}

				&:hover::after {
					transition: all 0.2s;
					transform: scale(1);
				}					
      }
    }
  }
}
@import "media";