* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

h2 {
	text-align: center;
}

h2:after {
	content: '';
	display: block;
	height: 3px;
	width: 50px;
	margin: 0 auto;
	background-color: orange;
}

.content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-wrapper__item {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}